<!--The content below is only a placeholder and can be replaced.-->
<header>
        <!-- Entête -->
   </header>
   <nav>
       <!-- Navigation via un menu -->
       <mdb-navbar SideClass="navbar navbar-dark green navbar-expand-lg"> 
            <logo>
                    <a routerLink="/accueil" class="navbar-brand">Navbar</a>
                </logo>
                <links>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link waves-light" mdbWavesEffect routerLink="/accueil">Accueil<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" mdbWavesEffect routerLink="/demo">Demo</a>
                        </li>
                        </ul>
                        </links>
        </mdb-navbar>

   </nav>
   <div id="content">
       <!-- le composant défini dans la route courante va être inséré à cet endroit -->
   
       <!-- au regard de la configuration précédente, 
           /page1 va insérer le composant AComponent à cet emplacement
           /page2 a insérer le composant BComponent à cet emplacement
       -->
       <router-outlet></router-outlet>
   </div>
   <footer>
        <!-- Pied de page -->
   </footer>

